@use "../../styles/variables";
@use "../../styles/mixins.scss" as mixin;

$color: rgb(199, 199, 199);

.checkbox {
  display: flex;
  width: 550px;

  &__input {
    display: flex;
    align-items: center;
    padding-right: 10px;
    &-custom {
      cursor: pointer;
      position: relative;
      left: 0;
      display: block;
      @include mixin.fluid-wh(30, 20);
      background-color: $color;
      border-radius: 3px;
      box-shadow: inset 0 0 1px 0 rgb(149, 149, 149);
    }
    &-original:checked + &-custom {
      background-color: var(--color-purple);
    }
    &-original:checked + &-custom::before,
    &-original:checked + &-custom::after {
      content: "";
      display: block;
      height: 2px;
      background-color: white;
      border-radius: 5px;
    }
    &-original:checked + &-custom::before {
      position: absolute;
      top: 59%;
      left: 0.8px;
      width: 40%;
      rotate: 45deg;
    }
    &-original:checked + &-custom::after {
      position: absolute;
      top: 45%;
      right: 0;
      width: 80%;
      rotate: -45deg;
    }
  }

  &__input-original:focus + &__input-custom {
    outline: 2px solid black;
  }

  &__body {
    display: flex;
    flex-direction: column;
    color: rgb(83, 83, 83);
  }

  &__label {
    @include mixin.font(20, 10);
    transition: all 200ms linear;
    user-select: none;

    &_complete {
      text-decoration: line-through;
      color: $color;
    }
  }

  &__data {
    display: block;
    @include mixin.font(10, 8);
    font-weight: 400;
    text-decoration: none;
  }
}
