@use "../../styles/variables";
@use "../../styles/mixins" as mixin;

button {
  background-color: transparent;
  border: 0;
}

button:disabled {
  filter: contrast(30%);
}

.button {
  background-color: transparent;
  border: 0;
  transition: all 300ms;

  &_purple {
    @include mixin.font(20, 10);
    background-color: var(--color-purple);
    color: white;
    width: 136px;
    border-radius: 10px;
  }
  &_red {
    position: relative;
    @include mixin.font(20, 10);
    background-color: red;
    width: 44px;
    height: 100%;
    border-radius: 10px;
  }
  &_red::before,
  &_red::after {
    position: absolute;
    top: 46%;
    left: 25%;
    right: 25%;
    content: "";
    height: 2.5px;
    border-radius: 10px;
    width: 50%;
    display: block;
    background-color: white;
  }
  &_red::before {
    rotate: 45deg;
  }
  &_red::after {
    rotate: -45deg;
  }
  &_w100 {
    @include mixin.media-400() {
      width: 100%;
    }
  }
  &_create-task {
    padding: 7px 14px;
  }
  &_add-task {
    padding: 7px 14px;
    border-radius: 0;
  }
  &_close-task {
    $border-radius: 0px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &_for-todo {
    @include mixin.fluid-padding(5, 4);
    @include mixin.fluid-wh(22, 15);
    background-color: rgb(221, 221, 221);
    border-radius: 3px;

    &_success {
      background-color: rgb(120, 201, 0);
    }
    &_cancel {
      background-color: red;
    }
  }
  &_for-todo:nth-child(2n + 1) {
    margin-right: 5px;
  }
  &_for-todo :nth-child(1n) {
    object-fit: contain;
  }
  &_auth {
    @include mixin.font(12, 12);
    width: auto;
    padding: 3px 12px;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  &_form {
    background-color: var(--color-purple);
  }
}

.button:active {
  scale: 0.8;
}
