@use "../../styles/mixins.scss" as mixin;

.priority {
  padding-left: 5px;
  margin-right: 5px;
  display: flex;
  text-align: center;
  justify-content: end;

  &__inner {
    user-select: none;
    @include mixin.font(13, 8);
    background-color: rgb(193, 193, 193);
    color: white;
    border-radius: 3px;
    text-align: center;
  }

  &_high {
    background-color: red;
  }
  &_medium {
    background-color: rgb(255, 174, 0);
  }
  &_low {
    background-color: rgb(14, 212, 14);
  }
}
