@use "../../styles/mixins.scss" as mixin;
@use "../../styles/variables.scss";

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  scale: 0;
}

.filter {
  &__primary {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    @include mixin.media-235() {
      justify-content: end;
    }
  }
  &__button-create {
    @include mixin.media-235() {
      width: 100%;
    }
  }
  &__add,
  &__error {
    width: 100%;
    padding: 0 10px;
    display: flex;
  }
  &__input {
    width: 100%;
  }
  &__message {
    color: red;
    @include mixin.font(14, 7);
    font-weight: normal;
  }

  &__select {
    padding: 7px 10px;
    // font-size: 14px;
    // font-family: sans-serif;
    @include mixin.font(14, 8);
    font-weight: normal;
    background-color: rgb(187, 187, 187);
    border: 0;
    border-radius: 10px;
    @include mixin.media-235() {
      margin-bottom: 10px;
    }
  }

  &__div-select {
    &_panel-add {
      padding: 10px;
      display: flex;
      justify-content: end;
    }
  }
}

.list {
  margin-top: 10px;
  padding: 0 10px;

  $min-height: 120px;
  $padding: 15px;
  &__inner {
    position: relative;
    padding: $padding;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    min-height: $min-height;
  }
  &__message-empty-list {
    min-height: calc(calc($min-height - $padding) - $padding);
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      text-align: center;
      height: 100%;
      display: block;
      @include mixin.font(35, 20);
      color: rgb(152, 152, 152);
      user-select: none;
    }
  }
}
