h3 {
  margin: 0;
}

.todo {
  &__inner {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;

    &_for-change-todo {
      justify-content: start;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    &-change {
      margin-left: 5px;
    }
  }
}
.todo:not(:last-child) {
  margin-bottom: 10px;
}
