html {
  /* background-color: rgb(101, 101, 101); */
}
#root {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 0 1rem 0;
  /* background-color: rgb(121, 121, 121); */
  /* text-align: center; */
}
